@model CreateProductViewModel

@{
	var categories = ViewBag.Categories;
}

<div class="row">
	<div class="col-md-12">
		<div class="card mb-6">
			<div class="card-body">
				<h2 class="card-title text-center mb-4">Додавання продукту</h2>
				<form id="createProductForm" asp-action="Create" enctype="multipart/form-data" class="row g-4">
					<div class="col-12">
						<label asp-for="Name" class="form-label"></label>
						<input asp-for="Name" class="form-control" placeholder="Enter product title" />
					</div>

					<div class="col-md-6">
						<label asp-for="CategoryName" class="form-label"></label>
						<select asp-for="CategoryName" class="form-select">
							@foreach (var category in categories)
							{
								<option value="@category.Name">@category.Name</option>
							}
						</select>
					</div>

					<div class="col-12">
						<label asp-for="Description" class="form-label"></label>
						<textarea asp-for="Description" id="description" class="form-control" rows="4" placeholder="Describe your product"></textarea>
					</div>

					<div class="col-12 border border-success border-dashed p-4 rounded text-center position-relative">
						<input type="file" id="fileInput" class="position-absolute top-0 start-0 w-100 h-100 opacity-0" accept="image/*" multiple />
						<span class="text-muted">Drag or select photos</span>
					</div>

					<div id="imageList" class="col-12 row row-cols-2 row-cols-md-4 g-3 mt-2"></div>

					<div class="col-12">
						<button type="submit" class="btn btn-success w-100">Опублікувати</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>


@section PageScripts {
	<script src="https://cdn.tiny.cloud/1/msp28lemwtyvod9k40ujq2ozfjsjny5ap66dtkdt2b1eqd6l/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.15.2/Sortable.min.js"></script>
	<script src="/admin/js/products/createProductForm.js"></script>
}
