
<div class="mt-3 d-flex align-items-center justify-content-center">
	<div class="card shadow rounded-4 p-4" style="max-width: 400px; width: 100%;">
		<div class="card-body text-center">
			<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="#0d6efd" class="bi bi-envelope-check mb-3" viewBox="0 0 16 16">
				<path d="M2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H2zm12 2v.217l-6 3.6-6-3.6V4h12zM2 12V5.383l6 3.6 6-3.6V12H2z" />
				<path d="M10.97 6.97a.75.75 0 0 1 1.06 0L13 7.94l1.47-1.47a.75.75 0 0 1 1.06 1.06L14.06 9l1.47 1.47a.75.75 0 0 1-1.06 1.06L13 10.06l-1.47 1.47a.75.75 0 0 1-1.06-1.06L11.94 9l-1.47-1.47a.75.75 0 0 1 0-1.06z" />
			</svg>
			<h5 class="card-title mb-3">Лист надіслано</h5>
			<p class="card-text text-muted">
				Вам надіслано лист на електронну пошту для відновлення паролю. Перевірте вхідні повідомлення або папку "Спам".
			</p>
			<a asp-action="Index" asp-controller="Home" class="btn btn-primary mt-3 w-100">Повернутися на головну</a>
		</div>
	</div>
</div>
