﻿<div class="mb-3" id="imageCropContainer" style="display: none;">
    <img id="croppingImage" class="img-fluid border d-block mb-2" style="max-height: 300px;" />
    <canvas id="croppedCanvas" class="d-none"></canvas>
    <img id="croppedPreview" class="img-thumbnail d-block mb-2" style="max-height: 150px; display: none;" />
    <input type="hidden" id="croppedImageData" name="CroppedImage" />
</div>