<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>З Великоднем!</title>
    <link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    
    @RenderBody()

    <script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>